<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="">Todo App</a>
      <ul *ngIf="loggedIn" class="d-flex justify-content-end" style="list-style: none;color: black;text-decoration: none;">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <mat-icon>account_circle</mat-icon>
                {{user}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="">Log out</a></li>
            </ul>
          </li>
      </ul>
    </div>
  </nav>