<mat-card class="stat-card mt-3" (mouseenter)="toggle()" (mouseleave)="toggle()">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon class="statistic-icon" [ngStyle]="{'color': (todo.complete) ? 'green' : 'red'}"
            [matTooltip]="todo.complete ? 'You have completed this task' : 'You have not completed this task!'">
                {{todo.complete ? 'done': 'clear'}}
            </mat-icon>
        </div>
        <mat-card-title>{{todo.title}}</mat-card-title>
        <mat-card-subtitle>{{todo.user}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="statistics-text">
        {{todo.description}}
    </mat-card-content>
    <!-- [ngStyle]="{'display': (showButtons) ? 'block' : 'none', 'opacity': (showButtons) ? '1' : '0'}" -->
    <mat-card-actions [@openClose]="showButtons ? 'open' : 'closed'" >
        <button mat-button (click)="openDialog('COMPLETE')"><mat-icon>check</mat-icon>Complete!</button>
        <button mat-button (click)="openDialog('EDIT')"><mat-icon>edit</mat-icon>Edit</button>
        <button mat-button (click)="openDialog('REMOVE')"><mat-icon>delete</mat-icon>Remove</button>
    </mat-card-actions>
    <mat-card-footer>
        <span *ngIf="todo.due != null" class="input-group-text" id="basic-addon1"><mat-icon style="margin-right: 10px;">schedule</mat-icon> {{ todo.due | date:'dd.MM.yyyy' }}</span>
    </mat-card-footer>
</mat-card>
