<div class="container d-flex justify-content-center align-items-center" style="margin-top:auto;margin-bottom:auto;margin-bottom:21vh;margin-top:21vh;">
    <div class="card mt-1 mb-1" style="padding:20px;">
        <!-- <img src="../../assets/op.svg" width="200" class="mb-3" style="margin-right: auto;margin-left:auto;" height="100" alt=""> -->
        <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="d-flex flex-column">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                <input formControlName="username" name="username" class="form-control" placeholder="Username">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i [class]="hide ? 'fa fa-lock' : 'fas fa-unlock'"></i></span>
                <input [type]="hide ? 'password' : 'text'" formControlName="password" name="password" (keydown.enter)="$event.preventDefault()" (keyup.enter)="login()" class="form-control" placeholder="Password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </div>
            <button mat-raised-button style="display:block; width:100%;" type="submit" class="btn btn-outline-primary">Login</button>
        </div>
        </form>
        <a href="signup">Don't you have an account? Click here to sign up.</a>
    </div>
</div>