<div class="container d-flex justify-content-center align-items-center" style="margin-top:auto;margin-bottom:auto;margin-bottom:21vh;margin-top:21vh;">
    <div class="card mt-1 mb-1" style="padding:20px;">
        <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="d-flex flex-column">
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
                <input formControlName="username" name="username" class="form-control" placeholder="Username*">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"><i [class]="hide ? 'fa fa-lock' : 'fas fa-unlock'"></i></span>
                <input [type]="hide ? 'password' : 'text'" [ngClass]="{'input-error': signupForm.controls['password'].invalid }" 
                formControlName="password" name="password" (keydown.enter)="$event.preventDefault()" class="form-control" placeholder="Password*">
                <button mat-icon-button matSuffix (click)="$event.preventDefault();hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"><i [class]="hide ? 'fas fa-check-circle' : 'far fa-check-circle'"></i></span>  
                <input [type]="hide ? 'password' : 'text'" [ngClass]="{'input-error': signupForm.controls['password'].invalid }" 
                formControlName="confirmPassword" name="confirmPassword" (keydown.enter)="$event.preventDefault()" (keyup.enter)="signup()" 
                class="form-control" placeholder="Confirm Password*">
                <button mat-icon-button matSuffix (click)="$event.preventDefault();hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </div>
            <button mat-raised-button style="display:block; width:100%;" type="submit" class="btn btn-outline-primary">Sign up</button>
        </div>
        </form>
        <a href="login">Do you have an account? Click here to log in.</a>
    </div>
</div>