<mat-tab-group>
    <mat-tab label="All Todos"> 
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let tabTodo of todos;">
                        <app-tododetail [todo]="tabTodo"></app-tododetail>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Waiting Todos"> <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let tabTodo of waiting;">
                    <app-tododetail [todo]="tabTodo"></app-tododetail>
                </div>
            </div>
        </div>
    </div>
 </mat-tab>
    <mat-tab label="Completed Todos"> <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let tabTodo of done;">
                    <app-tododetail [todo]="tabTodo"></app-tododetail>
                </div>
            </div>
        </div>
    </div>
</mat-tab>
</mat-tab-group>